.stateButton {
    height: 60px;
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: #95a5a6;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
}