*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.diceRolling {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;

    .dices {
        display: flex;
        justify-content: space-between;
        gap: 180px;
        flex-grow: 1;
    }
}